.footer{
    
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
   
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 160px;
    justify-content: center;
    align-items: center;
    .footer-text{
      text-transform: uppercase;
      font-size: 1.4rem;
      color: white;
    }
    .footer-copyright{
        letter-spacing: 4px;
        font-size: 1rem;
        color: rgb(126, 128, 129);
       
    }
    
}
@media (max-width:700px){
    .footer{
        .footer-text{
            font-size: 1.2rem;
        }
        .footer-copyright{
            font-size: 0.8rem;
            letter-spacing: 3px;
        }
    }
}
@media (max-width:460px){
    .footer{
        .footer-text{
            font-size: 1rem;
        }
        .footer-copyright{
            font-size: 0.6rem;
            letter-spacing: 2px;
        }
    }
}